<h1>Product Update</h1>
<div class="input-group input-group-lg">
    <form style="margin-right: 50px;margin-left: 50px;" [formGroup]="productRef" (ngSubmit)="onSubmitUpdateProduct();goBack()">
        <label >Product Code</label>
        <p style="color: brown;">Old value {{productDetail.productCode}}</p>
        <input type=" text" class="form-control" id="exampleFormControlInput1" (click)="$event.target.select()" formControlName="productCode">
        <label for="">Product Name</label>
        <p style="color: brown;">Old value {{productDetail.productName}}</p>
        <input type="text" class="form-control" id="exampleFormControlInput1"(click)="$event.target.select()" formControlName="productName">
        <label for="">Product Detail</label>
        <p style="color: brown;">Old value {{productDetail.productDetail}}</p>
        <input type="text" class="form-control" id="exampleFormControlInput1" (click)="$event.target.select()" formControlName="productDetail">
        <label for="">Product Image URL</label>
        <div style ="white-space: nowrap; 
        width: 400px; 
        overflow: hidden;
        text-overflow: '----';
        border: 1px solid #000000;" >

            <p style="color: brown;size: 30px;">Old value</p>
            <p>{{productDetail.productImage}}</p>
        </div>
        
        <input type="url" class="form-control" id="exampleFormControlInput1"  (click)="$event.target.select()" formControlName="productImage">
        <label for="">Product Price</label>
        <p style="color: brown;">Old value {{productDetail.productPrice}}</p>
        <input type="text" class="form-control" id="exampleFormControlInput1"(click)="$event.target.select()" formControlName="productPrice">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Company Name</label>
            <select class="form-control" id="exampleFormControlSelect1" formControlName="companyId">
                <option *ngFor="let company of companies" [ngValue]="company._id" >{{company.name}}</option>
            </select>
        </div>
        <input type="submit"  value="Store Product" > 
    </form>
</div>

<router-outlet></router-outlet>